* {
	font-family: Arial, sans-sarif;
}

.data-container {
	text-align: center;
}

.all-workouts-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.topbar-container {
	background-color: #aaa;
	color: #FFF;
}

.topbar-container>*,
.filter-container>*, 
.filter-container h3 {
	display: inline-block;
}

.topbar-container>* {
	margin: 10px;
}

.filter-output {
	margin-left: 10px;
	color: #FFF;
}

.filter-container h3 {

	margin-right: 5px;
}

.header-container>* {
	display: inline-block;
	vertical-align: middle;
}

.header-container img {
	width: 80px;
}

.pagination-container {
	max-width: 400px;
}

.pagination-container>* {
	margin-right: 10px;
}

.pagination-container span:hover {
	cursor: pointer;
	font-weight: 800;
}

.workout-container {
	border: 1px solid gray;
	margin: 5px;
	padding-left: 10px;
	max-width: 400px;
}

.workout-container .workout-index {
	float: right;
	margin-right: 15px;
}

.workout-container:hover {
	box-shadow: 3px 3px #aaa;
}

.workout-container h1:hover {
	cursor: pointer;
}

.bold {
	font-weight: 800;
}

.hidden {
	opacity: 0.25;
}